@model List<DepartmanDto>
@{
    ViewData["Title"] = "DepartmanPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>


@{
    string color = "";
}
<title>Payroll Management</title>

<h1 class="mb-4">Departmanlar</h1>



<a class="btn btn-primary mb-4" href="/Deparman/DepartmanAdd">Departman Ekle</a>

<div b-4cazk3bw56 class="card" style="padding:5px;">
    <table id="employeesTable" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Departman Ad</th>
                <th>Durum</th>
                <th>Düzenle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.IsDeleted == false)
                {
                    color = "limegreen";
                }
                else
                {
                    color = "red";
                }
                <tr>
                    <td>@item.Name</td>
                    <td style="color:@color">@(item.IsDeleted ? "Pasif" : "Aktif")</td>

                    <td>
                        <a style="color:white;" class="btn btn-warning" data-id="@item.Id" asp-controller="Deparman" asp-action="DepartmanUpdate" asp-route-departmanId="@item.Id"><i class="fas fa-edit"></i>Düzenle</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" data-id="@item.Id" asp-controller="Deparman" asp-action="DepartmanDelete" asp-route-departmanId="@item.Id"><i class="fas fa-trash"></i>Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/employeeIndex.js" type="application/ecmascript"></script>
}



